<h1 mat-dialog-title>Ponto de Coleta</h1>
<div mat-dialog-content>
  <p> Nome: {{data.nome}} </p>
  <p> Estado: {{data.estado}} </p>
  <p> Cidade: {{data.cidade}} </p>
  <p> Bairro: {{data.bairro}} </p>
  <p> CEP: {{data.cep}} </p>
  <p> Compemento: {{data.complemento}} </p>
  <p> Rua: {{data.rua}} </p>
  <p> Numero: {{data.numero}} </p>
  <p> Atividade Principal: {{data.atividadePrincipal}} </p>
  <p> CNPJ: {{data.cnpj}} </p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Fechar</button>
</div>
