<mat-card class="cadastro">
  <mat-card-header>
    <mat-card-title>Receber Doação</mat-card-title>
  </mat-card-header>
  <form [formGroup]="formDoacao" (submit)="onSubmit()">
    <mat-card-content class="cartoesCorpo">
      <mat-card-content class="corpoSolicitante">

        <span class="Doinfo"><strong>Solicitante:</strong> {{solicitante}}</span>
        <hr>
        <span class="Doinfo"> <strong>Voluntário:</strong> {{voluntario}}</span>
        <hr>
        <span class="Doinfo"><strong>Ponto de Coleta:</strong> {{posto}}</span>
        <hr>
        <mat-form-field class="example-full-width">
          <mat-label>Observações</mat-label>
          <textarea matInput formControlName="obs" placeholder="" appearance="outline"></textarea>
        </mat-form-field>
      </mat-card-content>

      <div formArrayName="medicamentos"
        *ngFor="let medicamentos of formDoacao.get('medicamentos')['controls']; let i = index;">
        <div [formGroupName]="i">
          <mat-card-content class="formCorpo">
            <div class='spacer2'> Medicamento {{i + 1}}: {{medicamentos.get("nome")?.value || 'Medicamento sem Nome'}}
            </div>
            <div class='spacer'> <button mat-mini-fab (click)="openDialog(i,'update')" type="button">
                <mat-icon class="orange">create</mat-icon>
              </button>

              <button mat-mini-fab (click)="removeElemento(i)" type="button">
                <mat-icon class="red">delete_forever</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="add()" type="button" style='margin-bottom: 200px;'>
        Adicionar Medicamento
      </button>
      <br />
      <br />
      <button mat-raised-button [disabled]="!formDoacao.valid" color="primary" type="submit">
        Concluir Doação
      </button>
      <button mat-raised-button color="warn" routerLink="/">
        Cancelar
      </button>
      <br />
      <mat-checkbox class="example-margin" (change)="debug()">Tela de Debug</mat-checkbox>
    </mat-card-content>
  </form>
</mat-card>

<mat-card class="cadastro" *ngIf="debugEnable">
  <app-form-debug [form]="formDoacao"></app-form-debug>
</mat-card>
