.cadastro {
  width: 70%;
  margin: 0;
  margin: auto;
  margin-top: 30px;
}
.centraliza {
  margin: 0;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.textoTituloCartao {
  margin: 0;
  margin: auto;
  width: 90%;
  padding: 10px;
}
.cartoesCorpo {
  margin: 10px;
}
.card {
  display: inline-table;
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.spacer button {
  border: none;
  margin: 5px;
  background-color: white;
  box-shadow: none;
}

.orange {
  color: orange;
}
.red {
  color: red;
}
