<mat-card class="cadastro">

  <mat-card-title>Lista Ponto de Coleta</mat-card-title>
  <mat-card-subtitle>Escolha o ponto de Coleta para fazer o pedido dos medicamentos.</mat-card-subtitle>

  <mat-card-content class="cartoesCorpo">

    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Anápolis" />
    </mat-form-field>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="cidade">
          <th mat-header-cell *matHeaderCellDef>Cidade</th>
          <td mat-cell *matCellDef="let element">{{ element.cidade }}</td>
        </ng-container>

        <ng-container matColumnDef="bairro">
          <th mat-header-cell *matHeaderCellDef>Bairro</th>
          <td mat-cell *matCellDef="let element">{{ element.bairro }}</td>
        </ng-container>

        <ng-container matColumnDef="cep">
          <th mat-header-cell *matHeaderCellDef>CEP</th>
          <td mat-cell *matCellDef="let element">{{ element.cep }}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Info</th>
          <td mat-cell *matCellDef="let element">

            <div class='example-flex-container'>
              <button mat-button color="primary" (click)='openDialog(element)'>
                <mat-icon>info</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="opcoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Opções</th>
          <td mat-cell *matCellDef="let element">

            <div class=' example-flex-container'>
              <button mat-raised-button class="btn" (click)="Submit(element.id,element.nome)">
                Escolher ponto
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


  </mat-card-content>




</mat-card>