.cadastro {
  width: 70%;
  margin: 0;
  margin: auto;
  margin-top: 30px;
}
.centraliza {
  margin: 0;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.textoTituloCartao {
  margin: 0;
  margin: auto;
  width: 90%;
  padding: 10px;
}

.card tr:nth-child(2n + 1) td {
  background-color: rgb(242, 242, 242);
}
.card tr:nth-child(2n + 1) th {
  background-color: #007fff;
  color: white;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.spinner {
  position: fixed;
  background-color: rgba(112, 105, 105, 0.199);
  height: 150px;
  width: 150px;
  z-index: 99;
  right: 46%;
  border-radius: 20px;
  padding-top: 30px;
}
.spinner mat-spinner {
  margin: auto;
}

::ng-deep .msg-success {
  background-color: #28a745;
  color: white;
}

::ng-deep .msg-error {
  background-color: rgb(227, 94, 107);
  color: white;
}

.spacer button {
  border: none;
  margin: 5px;
  background-color: white;
  box-shadow: none;
}

.orange {
  color: orange;
}
.red {
  color: red;
}
