:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: inline-flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.spinner {
  position: fixed;
  z-index: 99;
  margin: auto;
}

::ng-deep .msg-success {
  background-color: #28a745;
  color: white;
}

::ng-deep .msg-error {
  background-color: rgb(227, 94, 107);
  color: white;
}

.btn {
  align-items: center;
  display: flex;
  justify-content: center;
}

.green {
  background-color: green;
}

.link {
  margin-top: 20px;
  text-decoration: none;
}

.imageLogo {
  max-width: 170px;
  box-shadow: 2px 2px 3px black;
  border-radius: 14px;
  margin: 10px;
  height: auto;
}
