<mat-card *ngIf="auth()">
  <mat-card-title> <img class="imageLogo" src="assets/images/logo.png" routerLink="/" /></mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input type="text" matInput formControlName="cpf" [mask]="mask" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="senha" />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <div class="btn">
        <div class="button">
          <button type="submit" mat-raised-button color="primary"> &nbsp;&nbsp;&nbsp;Entrar&nbsp;&nbsp;&nbsp; </button>
        </div>

        <div class="button">
          <button type="button" routerLink="/usuarioCadastro" class='green' mat-raised-button
            color="primary">Cadastrar</button>
        </div>


      </div>
      <br />
      <a class="link" routerLink="/recureparSenha">Esqueci minha senha?</a>
    </form>


  </mat-card-content>
</mat-card>
<mat-spinner class='spinner' *ngIf="loading"></mat-spinner>
