<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-toolbar class="expanded-toolbar">
    <mat-toolbar-row>
      <button *ngIf="authAdm()" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="imageLogo" src="assets/images/logo.png" routerLink="/" />

      <button *ngIf="(authAdm() || authVoluntario() )" mat-button routerLink="saidaMedicamento">
        Saida Medicamento
      </button>
      <button mat-button [matMenuTriggerFor]="medSolicit">Solicitação de Medicamentos</button>
      <mat-menu #medSolicit="matMenu" yPosition="below">
        <button mat-menu-item routerLink="pedido">Solicitar Medicamentos</button>
        <button mat-menu-item routerLink="meusPedidos">Minhas Solicitações</button>
      </mat-menu>
      <button *ngIf="authAdm()" mat-button [matMenuTriggerFor]="user">Usuario</button>
      <mat-menu #user="matMenu" yPosition="below">
        <button mat-menu-item routerLink="usuarioCadastro">Cadastro</button>
        <button mat-menu-item routerLink="usuarioLista">Lista</button>
      </mat-menu>

      <button *ngIf="authAdm()" mat-button [matMenuTriggerFor]="pontoColeta">
        Ponto de Coleta
      </button>
      <mat-menu #pontoColeta="matMenu" yPosition="below">
        <button mat-menu-item routerLink="pontoColetaCadastro">Cadastro</button>
        <button mat-menu-item routerLink="pontoColetaList">Lista</button>
      </mat-menu>
      <button *ngIf="authAdm()" mat-button routerLink="medicamentoLista">
        Medicamento
      </button>

      <button *ngIf="(authAdm() || authVoluntario() )" mat-button routerLink="verificaCpf">
        Receber Doação
      </button>

      <span class="example-spacer"></span>
      <button class="login" mat-button routerLink="/login" *ngIf="auth()">
        Login
      </button>
      <div *ngIf="auth()">/&nbsp;&nbsp;</div>
      <button class="login" mat-button routerLink="/usuarioCadastro" *ngIf="auth()">
        Cadastrar
      </button>
      <button mat-button mat-button [matMenuTriggerFor]="sair" *ngIf="!auth() ">
        <mat-icon>account_circle</mat-icon>
        {{ nome }}
      </button>
      <mat-menu #sair="matMenu" yPosition="below">
        <button mat-menu-item (click)="perfil()" routerLink="/">
          <mat-icon>
            build
          </mat-icon>Perfil
        </button>
        <button mat-menu-item (click)="logout()" (click)="drawer.close()" routerLink="/">
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side">
    <mat-toolbar *ngIf="authAdm()" class="headMenuSide">Menu</mat-toolbar>
    <mat-nav-list>
      <button class="sideitem" mat-menu-item routerLink="saidaMedicamento">Saida Pedido</button>
      <mat-expansion-panel style="box-shadow: none;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Solicitação
          </mat-panel-title>

        </mat-expansion-panel-header>
        <button mat-menu-item routerLink="pedido">Solicitar</button>
        <button mat-menu-item routerLink="meusPedidos">Minhas Solicitações</button>
      </mat-expansion-panel>

      <mat-expansion-panel style="box-shadow: none;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Usuario
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item routerLink="usuarioCadastro">Cadastro</button>
        <button mat-menu-item routerLink="usuarioLista">Lista</button>
      </mat-expansion-panel>

      <mat-expansion-panel style="box-shadow: none;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ponto de Coleta
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item routerLink="pontoColetaCadastro">Cadastro</button>
        <button mat-menu-item routerLink="pontoColetaList">Lista</button>
      </mat-expansion-panel>

      <button class="sideitem" mat-menu-item routerLink="medicamentoLista">Medicamentos</button>
      <button class="sideitem" mat-menu-item routerLink="verificaCpf">Receber Doação</button>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
