<mat-card>
  <h1>
    Lista para Solicitação
  </h1>

  <table mat-table [dataSource]="medicamentos">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nome do Medicamento </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
      <td mat-cell *matCellDef="let element">
        {{ element.qtdPedido }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card-actions class="footer-buttons">
    <button mat-raised-button color="primary" [mat-dialog-close]="medicamentos" >Solicitar</button>
    <button mat-raised-button color="warn" (click)="onNoClick()" >Cancelar</button>
  </mat-card-actions>
</mat-card>
