<mat-toolbar class="expanded-toolbar">
  <mat-toolbar-row>
    <img class="imageLogo" src="assets/images/logo.png" routerLink="/">
    <button mat-button>Menu</button>
    <button mat-button>Menu</button>
    <button mat-button>Menu</button>
    <button mat-button>Menu</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/login" *ngIf="auth()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/" *ngIf="!auth()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>


  </mat-toolbar-row>

</mat-toolbar>
