.imageLogo {
  width: 150px;
  box-shadow: 2px 2px 3px black;
  border-radius: 14px;
}

.imageLogo:focus {
  outline: none;
}

.expanded-toolbar {
  background-color: #007fff;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}
