<div class="listMedicamentos">
  <mat-card>
    <mat-card-title>
      Solicitar Medicamentos
    </mat-card-title>
    <mat-form-field class="margin" appearance="outline">
      <mat-label  for="serarchInput">Nome do Medicamento</mat-label>
      <input matInput (keyup)="applyFilter($event)"  type="text" name="" id="serarchInput" placeholder="Nome do Medicamento" >
    </mat-form-field>
    <button mat-raised-button color="primary" class="headButton" > Busca</button>
  </mat-card>
  <mat-progress-bar *ngIf="!isLoaded" mode="indeterminate"></mat-progress-bar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="medicamentos" >
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nome do Medicamento </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class=""  (click)="addMedicamento(element)"> Adicionar</button>
          <!-- <button mat-icon-button color="primary" [disabled]="element.quantidade == 0"  (click)="controller(element, '+')">
            <mat-icon>add</mat-icon>
          </button>
          {{ element.qtdPedido }}
          <button mat-icon-button color="primary" [disabled]="element.qtdPedido == 0" (click)="controller(element,'-')">
            <mat-icon>remove</mat-icon>
          </button> -->
        </td>
      </ng-container>
      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estoque </th>
        <td mat-cell *matCellDef="let element">
          <!-- {{ element.quantidade }} -->

        </td>
      </ng-container>
      <ng-container matColumnDef="pontoDeColeta">
        <th mat-header-cell *matHeaderCellDef> Disponivel em </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class="buttonPontoColeta" (click)="infoPontoColeta(element.pontoDeColeta)"> {{ element.pontoDeColeta.nome }}</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

<button class="floattingButton" mat-raised-button color="primary"  (click)="solicitarMedicamentos()" [disabled]="medicamentosParaPedido.length < 1">
  <mat-icon>add_shopping_cart</mat-icon>
  Lista de Medicamentos
</button>

