.listMedicamentos {
  width: 70%;
  margin: auto;
  margin-top: 3%;
}
table {
  width: 100%;
}
.floattingButton {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 40px;
}
.footer-buttons {
  margin-left: 80%;
}
.headButton{
  top: -3px;
  margin-left: 10px;
  height: 50px;
  width: 100px;
}
.buttonPontoColeta{
  background-color: #22b14c;
}
