<mat-card class="cadastro">
  <mat-card-header>
    <mat-card-title>{{ titulo }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="cartoesCorpo">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="nome" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Atividade Principal</mat-label>
        <input matInput formControlName="atividadePrincipal" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj" />
      </mat-form-field>


      <mat-form-field class="margin" appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="rua" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Numero</mat-label>
        <input matInput formControlName="numero" />
      </mat-form-field>

      <mat-form-field class="margin" appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento" />
      </mat-form-field>


      <button type="submit" mat-raised-button color="primary">
        Cadastrar
      </button>
      <button type="button" mat-raised-button color="warn" routerLink="">
        Cancelar
      </button>
    </form>
    <mat-checkbox class=" example-margin" (change)="debug()">Tela de Debug</mat-checkbox>
  </mat-card-content>
</mat-card>


<mat-card class="cadastro" *ngIf="debugEnable">
  <app-form-debug [form]="formulario"></app-form-debug>
</mat-card>
