<mat-card class="home">
  <mat-card-content class="cartoesCorpo">

    <h1 class='titulo'>Medicamento Solidario</h1>
    <h2> Apresentação do Projeto.</h2>
    <div class="corpo">
      <p>Existem determinados remédios no mercado que tem deficiência de fracionamento, o que muitas vezes faz com que o
        cliente compre e/ou receba mais medicamento que o necessário para seu tratamento, com o tempo muitos deles são
        descartados indevidamente, sendo que ainda poderiam ser utilizados por outro paciente.
        Nosso projeto visa reduzir o desperdício de medicamentos, administrando postos de coleta para que tais
        medicamentos
        sejam disponibilizados para doação, onde quem deseja doar ou necessite de algum tipo de remédio, tenha segurança
        e
        facilidade tanto no ato da doação quanto na recepção do mesmo, nosso projeto também contribui com a redução do
        descarte de remédios em lixo domiciliar o que na grande maioria das vezes causa sérios danos ao meio ambiente.
      </p>


      <h2> Um resumo das condições que definem o projeto</h2>

      <p> No presente momento o controle teria de ser feito pelo próprio farmacêutico, anotando os medicamentos em
        planilhas,
        o controle de estoque seria gerenciado por posto de coleta onde cada posto de coleta só teria controle sobre o
        seu
        próprio estoque, então se a pessoa gostaria de um remedia ele teria que ir em vários postos de coleta para
        procurar.</p>



      <h2> Escopo do Projeto</h2>
      <p> Esse projeto se limita a controlar o fluxo de remédios a serem doados, desde sua coleta a sua distribuição,
        também
        oferece opção de consulta e pesquisa de remédios disponíveis para doação no sistema, de postos de coletas, e
        permite
        também uma reserva prévia de algum medicamento.</p>

      <h2> Premissas do Projeto</h2>
      <p> Este projeto tem como premissa adesão de instituições, público ou privado, órgãos e ou voluntários para a
        operação e
        usabilidade do sistema. Se torna também dependente de profissionais da área farmacêutica e afins para atuarem e
        serem responsáveis nos pontos de coleta.
        Quanto ao desenvolvimento, o projeto necessita de uma forte e consistente catalogação dos medicamentos e seu
        fluxo,
        para um uso correto e justo do mesmo.</p>

      <h2> Produto do Projeto</h2>
      <p> Este projeto terá como produto um site para uso tanto de usuários comuns tanto de administradores e
        operadores.
        Para
        os usuários com permissões acima a de um usuário comum será disponibilizado um manual e um treinamento para
        operação
        do site e suas funcionalidades de controle, e também toda a documentação gerada pelo contrução do projeto.</p>
      <h2> Requisitos do Usuário</h2>
      <p>O Cliente quer um controle de doação de medicamento, onde pode ser ser feito o recolhimento da doação,
        Dispensação
        de Medicamentos feito pelo farmacêutico e a distribuição dos medicamentos doados.Também será necessário o
        controle
        sobre estes dados, ele também pediu por um site que possa ser acessado de smartphones e que tenha padrões de
        cores
        relacionados à saúde.</p>
      <h2> Desenvolvedores</h2>
      <p><img class="imageLogo" src="assets/images/integrantes.png" class="responsive"></p>
    </div>
  </mat-card-content>
</mat-card>
