<mat-card>
  <mat-card-title>Insira o CPF do doador para Validação</mat-card-title>
  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="busca()">
      <p>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input type="text" matInput formControlName="cpf" [mask]="mask" />
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary">Buscar</button>
        <button type="button" routerLink="" mat-raised-button color="warn">Cancelar</button>

      </div>

    </form>

  </mat-card-content>
</mat-card>
<mat-spinner class='spinner' *ngIf="loading"></mat-spinner>
