:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
}
.button button {
  margin-right: 15px;
  margin-left: 15px;
}
.spinner {
  position: fixed;
  z-index: 99;
  margin: auto;
}
::ng-deep .msg-success {
  background-color: #28a745;
  color: white;
}

::ng-deep .msg-error {
  background-color: rgb(227, 94, 107);
  color: white;
}
